<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth (passport)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- Section: Navbar -->
<nav class="red lighten-2">
    <div class="container">
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo">OAuth</a>
            <ul class="right hide-on-med-and-down">
                <li class=""><a href="/">Home</a></li>
                <% if(user) { %> 
                    <li><a href="/profile">Profile</a></li> 
                    <li><a href="/auth/logout">Logout</a></li> 
                    <% } else { %> 
                    <li><a href="/auth/login">Login</a></li> 
                    <li><a href="#" class="btn waves-effect waves-light red lighten-1">Sign Up</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>