<%- include ('./partials/header') %>

<!-- Header section -->
<section class="section">
    <div class="container">
        <h2>Authentication and Authorization</h2>
        <h4>using passport and express</h4>
    </div>
</section>


<%- include ('./partials/footer') %>
