<%- include ('./partials/header') %>

<!-- Header section -->
<section class="section">
    <div class="container">
        <h3>Login User...</h3>
        <a href="/auth/google" class="btn red block lighten-1"><i class="fa fa-google-plus"></i> Google</a>
    </div>
</section>


<%- include ('./partials/footer') %>
