<%- include ('../partials/header') %>

<!-- Header section -->
<section class="section">
    <div class="container">
        <h1>404</h1>
        <h5>ERROR page not found <a href="/">Go Home</a> </h5>
    </div>
</section>


<%- include ('../partials/footer') %>
